@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px rgb(0, 0, 0);
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('./font/Inter-ExtraLight.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('./font/Inter-Light.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./font/Inter-Regular.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./font/Inter-Medium.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./font/Inter-SemiBold.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./font/Inter-Bold.ttf')
}

.collapsible-menu label {
  font-size: 56px;
  display: block;
  cursor: pointer;
}

.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-menu a {
  display:block;
  text-decoration: none;
}

input:checked ~ .menu-content {
  max-height: 100%;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

input#menu {
  display: none;
}

body {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1.0);

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
}